.App {
  text-align: center;

  min-height: 100vh;
  background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255, 255, 255, 0.50) 47%, rgba(0, 0, 0, 0.50) 100%);
  background-blend-mode: screen;
}

.search-form {
  min-height: 30vh;
  /* margin-top: 5rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  align-self: center
}

ul {
  list-style-type: none;
}

.search-bar {
  width: 40%;
  border: none;
  background: rgb(213, 219, 220);
  padding: 10px;
  transition: ease-in-out all .5s;
  outline: none;
}

.search-bar:hover {
  background: rgb(142, 205, 216);

}

.search-button {
  background: rgb(50, 47, 47);
  border: none;
  padding: 10px 20px;
  color: orange
}

.search-button:hover {
  opacity: 0.8;
}

#recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Logo {
  color: red
}

#fixed-nav-top {
  position: fixed;
  top: 0;
  width: 100%;
}